h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}
#yes, #no{
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 40px;
    background-color: lime;
}
#no{
    background-color: red;
    margin-left: 700px;
    margin-top: 300px;
}