body{
    background-color:#044800;
}
#title{
    text-align: center;
}
#md{
    width: 200px;
    height: 200px;
    float:left;
    margin-right: 25px;
}
hr{
    width: auto;
    height: 30px;
    background-color: rgb(0, 0, 0);
}
