#first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#prefirst{
    width: 1000px;
    height: 200px;
    border:4px solid black;
    background-color: white;
    border-radius: 20px;
}
body{
    background-color: aquamarine;
}
h2{
    text-align: center;
}
button{
    margin-left: 10px;
}